.dummy-box {
    width: 100%;
    height: 100vh;
}

.dashed-box {
    max-width: 100%;
    height: 40px;
    border: 1px dashed #BDBDBD;
    padding-left: 16px;
    border-radius: 6px;
}

.info-box {
    padding: 10px 16px 10px 16px;
    background-color: #F2F2F2;
    position: absolute;
    z-index: 99;
    left: 150;
    top: 16;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    width: max-content;
}

.document-box {
    width: 100%;
    border: 2px solid #DDDDDD;
    padding: 16px;
}

.big-box {
    width: 180px;
    height: 180px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.sign-box {
    z-index: 1;
    height: 300px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
}

.sign-canvas {
    position: absolute;
    /* top: 40; */
    /* left: 0; */
    /* right: 0; */
    width: max-content;
}

.sign-img {
    height: 153px;
    width: 224px;
    border: 1px solid #E0E0E0;
}

.red {
    background-color: red;
}

.bg-grey {
    background-color: #F2F2F2;
}

.custom-lightgray {
    background-color: #F2F2F2;
}

.lightgray {
    background-color: lightgray;
}

.blue {
    background-color: blue;
}

.google-signin {
    width: 200px;
    height: 40px;
    background-color: lightgray;
    display: inline-flex;
    cursor: pointer;
    box-shadow: 0px 1px 3px 1px darkgrey;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fw-300 {
    font-weight: 300;
}

.divider {
    height: 1px;
    background-color: #BDBDBD;
}

.p-6 {
    padding: 6rem;
}

.p-16 {
    padding: 16px !important;
}

.p-20 {
    padding: 20px !important;
}

.w-max {
    width: 100%;
}

.custom-btn {
    height: 40px;
    min-width: 120px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.br-6 {
    border-radius: 6px;
}

.btn-shadow {
    box-shadow: 0px 1px 4px 0px lightgray;
}

.lightgray-btn {
    background-color: #BDBDBD;
    color: white;
}

.blue-btn {
    background-color: #2D9CDB;
    color: white;
}

.blue-accent-btn {
    background-color: #2F80ED;
    color: white;
}

.orange-btn {
    background-color: #F2994A;
    color: white;
}

.purple-btn {
    background-color: #502B72 !important;
    color: white !important;
}

.green-btn {
    background-color: #27AE60;
    color: white;
}

.green-btn:hover {
    color: white !important;
}

.disabled-btn {
    background-color: darkgray;
    cursor: not-allowed;
}

.black-btn {
    background-color: black;
    color: white;
}

.lightgray-text {
    color: #828282;
}

.purple-text {
    color: #9B51E0;
}

.orange-text {
    color: #F2994A;
}

.red-text {
    color: red;
}

.inactive-text {
    color: #BDBDBD;
}

.link-text {
    color: #56CCF2;
}

.border-bottom-only {
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.divider-label {
    background-color: white;
    position: absolute;
    left: 0;
    top: -11;
    padding-right: 10px;
}

.td-none {
    text-decoration: none !important;
    color: black;
}

.td-none:hover {
    color: black;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.pointer {
    cursor: pointer;
}

.menu-list {
    height: 50px;
}

.menu-bar {
    height: 100%;
    width: 10px;
    margin-right: 14px;
    background-color: white;
}

.menu-active {
    background-color: #F2994A;
}

.menu-list:hover>.menu-bar {
    background-color: #F2994A;
}

.menu-list:hover>.menu-label {
    color: black;
}

.mydocument-info:hover+.info-box {
    display: block !important;
}

.border-none {
    border: none;
}

#tac:focus {
    outline: none;
}

.back-lightgray {
    background-color: #F2F2F2;
}

.select2-container--default .select2-selection--single {
    border: none !important;
    /* padding: 20px; */
}