.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.bg-eSign {
    background-color: white;
}

.custom-grey {
    background-color: #E8ECF1;
}

.custom-yellow {
    background-color: #F1BD1E;
}

.custom-red {
    background-color: #EB5757;
}

.custom-green {
    background-color: #219653;
}

.custom-card-menu {
    width:97px;
    height: 103px;
    margin: 5px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.f-10 {
    font-size: 10px;
}

.f-24 {
    font-size: 24px;
}

.pb-6 {
    padding-bottom: 5rem !important;
}

.menu-count {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.brb-20 {
    border-radius: 0px 0px 20px 20px;
}

.btn-add-document {
    height: 64px;
    width: 100%;
    max-width: 312px;
    margin-top: -30px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
    cursor: pointer;
}

.btn-add-recipient {
    height: 64px;
    width: 100%;
    max-width: 312px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
    cursor: pointer;
}

.custom-blue {
    background-color: #2f80ed;
}

.custom-peach {
    background-color: #FFCAA4;
}

.custom-purple {
    background-color: #8E2FED;
}

.br-10 {
    border-radius: 10px;
}

.br-100 {
    border-radius: 100px;
}

.document-name {
    font-size: 10px;
}

.document-date {
    font-size: 8px;
    color: #828282;
}

.white-box {
    height: fit-content;
    width: 100%;
    background-color: white;
    border: 1px solid #E0E0E0;
}

.custom-btn-blue {
    height: 45px !important;
    background-color: #2f80ed !important;
    color: white !important;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
}

.custom-btn-purple {
    height: 30px !important;
    background-color: #8e2fed !important;
    color: white !important;
}

.custom-text-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
}

#pdf-canvas {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

#canvas {
    position: static !important;
}